<div class="modal fade" id="size-chart" tabindex="-1" role="dialog" aria-labelledby="size-chart-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="size-chart-title">{{ product.vendor }} Size Chart</h4>
			</div>
			<div class="modal-body">
				{% include 'vendor_size_charts' %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
